/* ------------- 公共样式------------------- */
#menu {     
    position: fixed;
    right: 20px;
    top: 40%;
    z-index: 10;
    list-style-type: none;
}
#menu li {
    width: 90px;
    height: 27px;
    margin-top: 7px;
    overflow: hidden;
}
#menu a {
    display: block;
    height: 27px;
    padding-right: 30px;
    line-height: 27px;
    background: url(../images/dot.png) right -34px no-repeat;
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 0px #333;
    text-decoration: none;
    overflow: hidden;
}
#menu span {
    display: none;
    width: 60px;
    font-size: 12px;
    overflow: hidden;
    color:#8F9DA4;
    text-shadow:none;
}
#menu .active a {
    background-position: right 0;
}
.section { text-align: center; font: 50px "Microsoft Yahei"; overflow:hidden;}

/* ------------- preloadPage start ---------------*/
.preloadPage{
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background: #262626;
    opacity:1;
    z-index:1000;
    //display:none;
}
.ploadMain{
    top: 46%;
    position: relative;
}
.ploadMain .ploadInfo{
    color: #525252;
    text-align:center;
    font-size: 18px;
    font-weight: bold;
}
.ploadMain .ploadLine{
    background: #525252;
    height: 1px;
    margin: 20px auto 0;
    max-width: 500px;
    position: relative;
    overflow:hidden;
}
.ploadMain .ploadLine i{
    background: #FF5722;
    height: 1px;
    position:absolute;
    left:0;
    top:0;
    width:2px;
    max-width:500px;
    transition:width ease 200ms;
    -webkit-transition:width ease 200ms;
}
/* ------------- preloadPage end ---------------*/

/* ------------- section1 start ---------------*/
#mainHeader{
    height:70px;
    width:100%;
    background:url(../images/lxwbg.png) top left repeat;
    float: left;
    position:relative;
}
.hdLeft{
    float:left;
    width:200px;
    height:70px;
    margin-left:30px;        
}
.hdLeft .hdicon{
    float: left;
    height: 60px;
    margin: 8px
}
.hdLeft .hdicon img{
    width:54px;
    border-radius: 50%;
    transition: box-shadow 0.5s;
}
.hdLeft .hdicon img:hover{
    box-shadow: 0 0 15px #FF5722;
}
.hdLeft .hdinfo{
    float:left;
    position:relative;
    width:100px;
    font-size: 14px;
    font-weight: bold;
    margin:10px 0 0 5px;
}
.hdLeft .hdinfo div{
    height: 24px;
    line-height: 24px;
}
.hdLeft .hdinfo-top{
    border-bottom: 1px solid #000;
}
.hdRight{
    float:right;    
    height: 70px;
    position: relative;
    width:400px;
    overflow:hidden;
}
.hdRight ul{
    padding: 0;
    margin: 22px 0 0 0;
    height: 30px;
    line-height: 30px;
    position:absolute;
    left:0;
}
.hdRight ul li{
    list-style:none;
    font-size:14px;
    color:#fff;
    float:left;    
    font-weight: bold;
}
.hdRight ul li a{
    color:#000;
    cursor:pointer;
    text-decoration: none;
    padding: 10px 13px;
}
.tit-line{
    width:54px;
    height:4px;
    position:absolute;
    left:-100px;
    bottom: 1px;
    border-radius: 4px;
    background-color:#000;
    transition: all .5s ease-out;

}
.moveDiv
{
    display: block;
    position: relative;
    width: 100%;
    background-color: #060e21;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}
#top-mainBg{
    height: 871px;
    //background-image: url(../images/topmainbg.jpg);
}
.moveDiv .draw{
    display:block;
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -99999px;
    transition:all 0.1s; 
}
.show3D{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;  
}
.moveDiv .img_blue{
    background-image: url(../images/img_blue.png);
}
.moveDiv .img_red{
    background-image: url(../images/img_red.png);
}
.moveDiv .img_linteblue{
    background-image: url(../images/img_linteblue.png);
}
.moveDiv .img_lintered{
    background-image: url(../images/img_lintered.png);
}
.moveDiv .img_yellow{
    background-image: url(../images/img_yellow.png);
    z-index: 5;
}
.moveDiv .skills{
    background-image: url(../images/skills.png);
    z-index: 6;
}
.moveDiv .dots_far{
    background-image: url(../images/dots_far.png);
}
.moveDiv .dots_close{
    background-image: url(../images/dots_close.png);
}
.moveDiv .img_person{
    background-image: url(../images/img_person.png);
}
/* ------------- section1 end --------------- */

/* ------------- section2 start --------------- */
.section2 .bg,.section3 .bg,.section4 .bg{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.section2 .bg img,.section3 .bg img,.section4 .bg img{
    width:100%;
    height:100%;
    display:block;
}
.bg-jn2{
    position: absolute;
    top: -526px;
    width: 100%;
    height: 545px;
    background: url(../images/jn2.png) 50% 100% no-repeat;
    transition: all 1s;    
}
.active .bg-jn2 {
    top: 0;
    transition-delay: 0.7s;
}
.section h3{
    position: absolute;
    left: 50%;
    top: 4%;
    z-index: 10;
    width: 512px;
    height: 120px;
    margin-left: -207px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
.active h3 {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.section2 h3 {
    width: 435px;
    
    background-image: url(../images/zyjn.png);
}
.middle{
    position: relative;
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section2 .left2{
    position:absolute;
    left:-200%;
    top:50%;
    width:670px;
    height:450px;
    margin:-170px 0 0 -108px;
    background:url(../images/jn-compu.png) 0 0 no-repeat;
    transition: all 1.5s;
} 
.section2.active .left2{
    transition: all 1.5s;
    left:0;
}
.left2-1{
    position: absolute;
    left: 0;
    top: 43px;
    width: 393px;
    height: 295px;
    background-image: url(../images/jn-com1.png);
    opacity: 0;
    transition: all 1.5s;
}
.left2-2 {
    position: absolute;
    left: -10px;
    top: 75px;
    width: 423px;
    height: 326px;
    background-image: url(../images/jn-com2.png);
    opacity: 0;
}
.active .left2-1{
    opacity: 1;
    transition-delay: 1.5s;
}
.active .left2-2 {
    left: 30px;
    top: 0;
    opacity: 1;
    transition: all 1s ease 2.5s;
}
.right2{
    width: 409px;
    position: absolute;
    top: 50%;
    margin: -210px 0 0 -15px;
    right: -200%;
    transition: all 1.5s;
}
.active .right2{
    transition: all 1.5s;
    right:-30px;
}
.info h5{
    font-size:18px;
    font-weight: normal;
    margin: 20px 0 0 0;
    text-align: left;
    height: 30px;
    line-height: 30px;
    color: #4A5D6F;
}
.info ul{
    margin:0;
    padding-left: 0;
}
.info ul li{
    list-style: none;
    font-size:16px;
    font-weight:normal;
    text-align: left;
    margin: 10px 0;
    color: #4A5D6F;
}
/* ------------- section2 end --------------- */

/* ------------- section3 start --------------- */
.section3 h3 {
    width: 435px;    
    background-image: url(../images/grll.png);
}
.bg3{
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: all 1s;
}
.bg31 {    
    width: 892px;
    height: 514px;
    margin-left: -335px;
    margin-bottom: 170px;
    background-image: url(../images/llbg1.png);
    
}
.bg32 {    
    width: 892px;
    height: 472px;
    margin-left: -326px;
    margin-bottom: 80px;
    background: url(../images/llbg2.png) 470px bottom no-repeat;    
}
.bg33{
    width: 441px;
    height: 380px;
    margin-left: 50%;
    background: url(../images/llbg3.png) 0 0 no-repeat;
}
.active .bg31, .active .bg32 {
    opacity: 1;
    transition-delay: 1s;
}
.active .bg33{
    opacity:1;    
    left:-51px;
    transition-delay:0.7s;
}
.shuxian{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 590px;
    margin: -200px 0 0 -210px;
    background: url(../images/shuxian.png) 0 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .shuxian{
    opacity:1;
    transition-delay:2s;
}
.xiexian{
    position: absolute;
    left: 50%;
    top:50%;
    width:131px;
    height:82px;
    background:url(../images/xiexian.png) 0 0 no-repeat;
    transition:all 1s;
    opacity: 0;
}
.xie1{
    margin: -214px 0 0 -266px;    
}
.xie2{
    margin: -62px 0 0 -266px;    
}
.active .xie1{
    opacity:1;
    transition-delay:2s;    
}
.active .xie2{
    opacity:1;
    transition-delay:4.5s;    
}
.po-info{
    position: absolute;
    left: 50%;
    top:50%;
    width: 310px;
    margin: -221px 0 0 -530px;
    height: 619px;
    color: #ECECEC;
    text-align: left;
}
.llTime{
    position: absolute;
    left: 335px;
    font-size: 28px;
    width: 270px;
    opacity:0;
    transition:all 1.3s;
}
.llTime1{    
    top: 26px;    
}
.active .llTime1{
    opacity:1;
    left:0;
    transition-delay:2s;
}
.llInfo1{
    opacity:0;
    transition:all 1s;
}
.active .llInfo1{
    opacity:1;
    transition-delay:3.5s;
}
.llInfo1 h6{
    margin: 77px 0 10px 0;
    font-size: 18px;
}
.llInfo1 .intro{
    font-size:14px;
}
.llTime2{   
    top: 180px;    
}
.active .llTime2{
    opacity:1;
    left:0;
    transition-delay:4.5s;
}
.llInfo2{
    opacity:0;
    transition:all 1.3s;
}
.active .llInfo2{
    opacity:1;
    transition-delay:6s;
}
.llInfo2 h6{
    margin: 84px 0 10px 0;
    font-size: 18px;
}
.llInfo2 .intro{
    font-size:14px;
    list-style:none;
    padding-left: 0;
}
.intro li{
    margin-bottom:10px;
}
/* ------------- section3 end --------------- */

/* ------------- section4 start --------------- */
.section4 h3 {
    width: 435px;
    margin-left: -188px;
    background-image: url(../images/zpzs.png);
}
.section4 .zpmid{
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -562px;
    margin-top: -180px;
    width:1040px;

}
.zpmid li{
    list-style:none;
}
.zpmid li p{
    font-size:14px;
    display: block;
    width: 280px;
    text-align: center;
    color: #666;
    opacity:0;
    transition:all 1s;
}
.active .zpmid li p{
    opacity:1;
    transition-delay:4s;
}
.section4 li{   
    float:left;
    margin-right:80px;
    position:relative;
}
.section4 li:last-child{
    margin-right:0;
}
.zpmid li a:hover{
    cursor:pointer;
}
.zp-info-bg{
    width:280px;
    height:187px;
    position:absolute;
    left:0;
    top:0;
    background-color:#000;
    display:none;
    filter:alpha(opacity=70);  
      -moz-opacity:0.7;  
      -khtml-opacity: 0.7;  
      opacity: 0.7; 
}
.zp-info-bg span{
    color:#fff;
    font-size:18px;
    margin-top: 53px;
    display: block;
    text-align: center;
}


@keyframes zp-loading{
    0%{
        transform:rotate(0deg) scale(1);
    }
    50%{
        transform:rotate(180deg) scale(0.6);
    }
    100%{
        transform:rotate(360deg) scale(1);
    }
}

.zp-loading{
    width:40px;
    height:40px;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -20px;
    top: 57%;
    margin-top: -14px;
}
.zp-loading i{
    display:block;
    border:2px solid #fff;
    border-color:transparent #fff;
    border-radius: 50%;
    position:absolute;
}
.zp-loading i:first-child{
    width:35px;
    height:35px;
    top:0;
    left:0;
    animation:zp-loading 1s ease-in-out 0s infinite;
}
.zp-loading i:last-child{
    width:15px;
    height:15px;
    top:10px;
    left:10px;
    animation:zp-loading 1s ease-in-out 0.5s infinite reverse;
}
.bg41 {
    position: absolute;
    bottom: 1%;
    width: 100%;
    height: 248px;
    background: url(../images/bg41.png) 50% 0 no-repeat;
    transition: all 1s;
}
.active .bg41{
    bottom:8%;
    transition-delay:0.9s;
}
.bg42 {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 372px;
    background: url(../images/bg42.png) 50% 0 no-repeat;
    transition: all 1s;
}
.active .bg42{
    bottom:8%;
    transition-delay:0.7s;
}
@-webkit-keyframes moves4-1{
    0%{ transform:translate(360px,-1000px)}
    20%{transform:translate(360px,30px)}
    40%{transform:translate(360px,-70px)}
    60%{transform:translate(360px,0px)}
    100%{transform:translate(0,0px)}
}
@keyframes moves4-1{
    0%{ transform:translate(360px,-1000px)}
    20%{transform:translate(360px,30px)}
    40%{transform:translate(360px,-70px)}
    60%{transform:translate(360px,0px)}
    100%{transform:translate(0,0px)}
}
@-webkit-keyframes moves4-2{
    0%{ transform:translate(0px,-1000px)}
    20%{transform:translate(0px,30px)}
    40%{transform:translate(0px,-70px)}
    60%{transform:translate(0px,0px)}
    100%{transform:translate(0,0px)}
}
@keyframes moves4-2{
    0%{ transform:translate(0px,-1000px)}
    20%{transform:translate(0px,30px)}
    40%{transform:translate(0px,-70px)}
    60%{transform:translate(0px,0px)}
    100%{transform:translate(0,0px)}
}
@-webkit-keyframes moves4-3{
    0%{ transform:translate(-360px,-1000px)}
    20%{transform:translate(-360px,30px)}
    40%{transform:translate(-360px,-70px)}
    60%{transform:translate(-360px,0px)}
    100%{transform:translate(0,0px)}
}
@keyframes moves4-3{
    0%{ transform:translate(-360px,-1000px)}
    20%{transform:translate(-360px,30px)}
    40%{transform:translate(-360px,-70px)}
    60%{transform:translate(-360px,0px)}
    100%{transform:translate(0,0px)}
}
.section4 .zpmid li:nth-child(1){
    transform:translate(360px,-1000px);
}
.active.section4 .zpmid li:nth-child(1){
    animation:moves4-1 2s ease-in-out 2s forwards; 
    -webkit-animation:moves4-1 2s ease-in-out 2s forwards;
    -moz-animation:moves4-1 2s ease-in-out 2s forwards;      
}
.section4 .zpmid li:nth-child(2){
    transform:translate(0px,-1000px);
}
.active.section4 .zpmid li:nth-child(2){
    animation:moves4-2 2s ease-in-out 2s forwards;
    -webkit-animation:moves4-2 2s ease-in-out 2s forwards;
    -moz-animation:moves4-2 2s ease-in-out 2s forwards;   
}
.section4 .zpmid li:nth-child(3){
    transform:translate(-360px,-1000px);
}
.active.section4 .zpmid li:nth-child(3){
    animation:moves4-3 2s ease-in-out 2s forwards;
    -webkit-animation:moves4-3 2s ease-in-out 2s forwards;
    -moz-animation:moves4-3 2s ease-in-out 2s forwards;   
}

/* ------------- section4 end --------------- */

/* ------------- section5 start --------------- */
.section5{
    background:url(../images/lxwbg.png) left top repeat;
}
.s5-mid{
    width:1050px;
    height:422px;
    display:block;
    margin:0 auto;    
}
.section5 .s5-tit{
    float:left;
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
}
.s5-mid .s5-tit-info{
    background:url(../images/s5titinfo.png) left top no-repeat;
    z-index:300;
    display: block;
    position: absolute;
    top: 26px;
    left: 31px;
    width: 100%;
    height: 400px;
}
.s5-mid .s5-tit-bg{
    background:url(../images/s5titbg.png) left top no-repeat;
    z-index:100;
    display: block;
    position: absolute;
    top: 15px;
    left: 21px;
    width: 100%;
    height: 400px
}
.s5-mid .s5-content{
    display: block;
    height: auto;
    width:50%;
    margin: 40px 0 0 51%;
    padding-left: 85px;
    border: solid 2px #fff;
    border-width: 0 0 0 2px;
    box-shadow: 1px 0 0 rgba(0,0,0,.25)inset;
    text-align: left;
}
.s5-mid .s5-content img {
    width: 247px;
    height: 247px;
    margin-top: -1px;
}
.s5-mid .s5-content ul {
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    line-height: 28px;
    list-style: none;
    padding-left: 0;    
}
.s5-mid .s5-content ul i {
    font-style: normal;
    font-size: 18px;
    font-weight: bolder;
}